version: '3'

services:
  notification:
    build: 
      context: .
      dockerfile: .devcontainer/Dockerfile
      args: 
        VARIANT: 11-bullseye
    command: sleep infinity
    volumes:
      - .:/workspace:cached
    ports: []
    network_mode: service:frontend