<script src="https://unpkg.com/vue@3"></script>

<div id="app">
  <div v-if="loggedIn">
    Welcome {{ username }}!

    Notification:
    {{ notice }}
  </div>
  <div v-else>
    <div>
      Username: <input type="text" name="username" v-model="username">
    </div>
    <div>
      Password: <input type="password" name="password" v-model="password">
    </div>
    <div>
      <button @click="login">Login</button>
    </div>
  </div>
</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        loggedIn: false,
        username: null,
        password: null,
        token: null,
        notice: null
      }
    },
    methods: {
      async login() {
        const authServerURL = 'http://localhost:30081/auth'
        const body = JSON.stringify({
          username: this.username,
          password: this.password,
          path: `/${this.username}`
        })
        const request = await fetch(authServerURL, {
          method: 'POST',
          body: body,
          headers: { 'Content-Type': 'application/json' }
        })
        const response = await request.json()
        if (response?.success) {
          this.loggedIn = true
          this.token = response.token
          this.fetchNotice()
        }
      },
      async fetchNotice() {
        const resourceServerURL = `http://localhost:30082/${this.username}`
        const request = await fetch(resourceServerURL, {
          headers: {
            'Authorization': `Bearer ${this.token}`
          }
        })
        const response = await request.json()

        // update notice
        this.notice = response?.data
      }
    }
  }).mount('#app')
</script>