<script src="https://unpkg.com/vue@3"></script>

<div id="app">
  <div>{{ error }}</div>
  <div v-if="page === 'home'">
    <h1>
      Welcome {{ username }}!
    </h1>

    <div>
      <p>Notification:</p>
      <pre>{{ notice }}</pre>
    </div>
  </div>
  <div v-else-if="page === 'signup'">
    <h1>Signup</h1>
    <form @submit.prevent="signup">
      <div>
        Username: <input type="text" name="username" v-model="username">
      </div>
      <div>
        Password: <input type="password" name="password" v-model="password">
      </div>
      <div>
        <button>Signup</button>
      </div>
    </form>
    <div>
      <a href="#" @click="switchPage('login')">Back to Login</a>
    </div>
  </div>
  <div v-else>
    <h1>Login</h1>
    <form @submit.prevent="login">
      <div>
        Username: <input type="text" name="username" v-model="username">
      </div>
      <div>
        Password: <input type="password" name="password" v-model="password">
      </div>
      <div>
        <button>Login</button>
      </div>
    </form>
    <div>
      <a href="#" @click="switchPage('signup')">Need Signup?</a>
    </div>
  </div>
</div>

<script>
  const { createApp } = Vue

  createApp({
    computed: {
      authAPIBase: () => 'http://localhost:30082'
    },
    data() {
      return {
        page: 'login',
        username: null,
        password: null,
        notificationUrl: null,
        notificationToken: null,
        notice: null,
        error: null
      }
    },
    methods: {
      async login() {
        const loginURL = `${this.authAPIBase}/login`
        const body = JSON.stringify({
          username: this.username,
          password: this.password
        })
        const request = await fetch(loginURL, {
          method: 'POST',
          body: body,
          headers: { 'Content-Type': 'application/json' }
        })
        const response = await request.json()
        if (response?.success) {
          this.error = null
          this.notificationToken = response.notificationToken
          this.notificationUrl = response.notificationUrl
          this.fetchNotification()
          this.switchPage('home')
        } else {
          this.error = 'Login failed'
        }
      },
      async fetchNotification() {
        const request = await fetch(this.notificationUrl, {
          headers: {
            'Authorization': `Bearer ${this.notificationToken
              }`
          }
        })
        const response = await request.text()

        // update notice
        this.notice = response
      },
      switchPage(nextPage) {
        this.page = nextPage
      },
      async signup() {
        const signupURL = `${this.authAPIBase}/signup`
        const body = JSON.stringify({
          username: this.username,
          password: this.password
        })
        const request = await fetch(signupURL, {
          method: 'POST',
          body: body,
          headers: { 'Content-Type': 'application/json' }
        })
        const response = await request.json()
        if (response?.success) {
          this.error = null
          this.switchPage('login')
        } else {
          this.error = 'Signup failed'
        }
      }
    }
  }).mount('#app')
</script>