<script src="https://unpkg.com/vue@3"></script>

<div id="app">
  <div>{{ error }}</div>
  <div v-if="page === 'home'">
    <h1>
      Welcome {{ username }}!
    </h1>

    <div>
      <p>Notification:</p>
      <pre>{{ notice }}</pre>
    </div>
  </div>
  <div v-else-if="page === 'signup'">
    <h1>Signup</h1>
    <form @submit.prevent="signup">
      <div>
        Username: <input type="text" name="username" v-model="username">
      </div>
      <div>
        Password: <input type="password" name="password" v-model="password">
      </div>
      <div>
        <button>Signup</button>
      </div>
    </form>
    <div>
      <a href="#" @click="switchPage('login')">Back to Login</a>
    </div>
  </div>
  <div v-else>
    <h1>Login</h1>
    <form @submit.prevent="login">
      <div>
        Username: <input type="text" name="username" v-model="username">
      </div>
      <div>
        Password: <input type="password" name="password" v-model="password">
      </div>
      <div>
        <button>Login</button>
      </div>
    </form>
    <div>
      <a href="#" @click="switchPage('signup')">Need Signup?</a>
    </div>
  </div>
</div>

<script>
  const { createApp } = Vue

  const api = {
    notificationAPIBase: 'http://localhost:30081',
    authAPIBase: 'http://localhost:30082',
  }
  api.login = async (username, password) => {
    const loginURL = `${api.authAPIBase}/login`
    const body = JSON.stringify({ username, password })
    const request = await fetch(loginURL, {
      method: 'POST',
      body,
      headers: { 'Content-Type': 'application/json' }
    })
    return await request.json()
  }
  api.signup = async (username, password) => {
    const signupURL = `${api.authAPIBase}/signup`
    const body = JSON.stringify({ username, password })
    const request = await fetch(signupURL, {
      method: 'POST',
      body,
      headers: { 'Content-Type': 'application/json' }
    })
    return await request.json()
  }
  api.fetchNotificationToken = async (username, password, notificationPath) => {
    const tokenURL = `${api.authAPIBase}/notificationToken`
    const body = JSON.stringify({ username, password, notificationPath })
    const request = await fetch(tokenURL, {
      method: 'POST',
      body: body,
      headers: { 'Content-Type': 'application/json' }
    })
    return await request.json()
  }
  api.fetchNotification = async (path, token) => {
    const url = api.notificationAPIBase + path
    const request = await fetch(url, {
      headers: {
        'Authorization': `Bearer ${token}`
      }
    })
    return await request.text()
  }

  createApp({
    data() {
      return {
        page: 'login',
        username: null,
        password: null,
        notice: null,
        error: null
      }
    },
    methods: {
      async login() {
        const response = await api.login(this.username, this.password)
        if (response?.success) {
          this.error = null

          // update notification
          const notificationPath = `/${this.username}`
          const { token: notificationToken } = await api.fetchNotificationToken(
            this.username, this.password, notificationPath)
          if (notificationToken) {
            this.notice = await api.fetchNotification(notificationPath, notificationToken)
          }

          this.switchPage('home')
        } else {
          this.error = 'Login failed'
        }
      },
      switchPage(nextPage) {
        this.page = nextPage
      },
      async signup() {
        const response = await api.signup(this.username, this.password)
        if (response?.success) {
          this.error = null
          this.switchPage('login')
        } else {
          this.error = 'Signup failed'
        }
      }
    }
  }).mount('#app')
</script>